@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.body{
    width: 80%;
    margin: 50px auto;
}
.body1{
    display: flex;
    margin: 50px auto;
   align-items: center;
   justify-content: space-between;
}
.body1 input{
    font-size: 20px;
    width: 28%;
    padding: 12px 20px;
    border-radius: 5px;
    border: solid thin;
}
.body .cards{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px 15px;
    flex-wrap: wrap;
}