@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.search{
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    background-color: white;
}
.search hr{
    transform: rotateZ(90deg);
    width: 80px;
}
.search-tag{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 13%;
    /* margin: 0 10px; */
}
.search-tag input{
    margin-top: 10px;
    border: none;
    font-weight: bold;
    border-bottom: solid thin;
    font-size: 16px;
}
.search-tag input:focus-visible{
    outline: none;
    border-bottom: solid thin;
    font-weight: bold;
}
.search-tag .type-search::placeholder{
    font-size: 9px;
}
.search-tag .date-search::placeholder{
    font-size: 12px;
}
.search-tag label{
    font-weight: bold;
}
